@import '@style/common.module';
@import '@style/_color.const';

.container {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  min-height: 100vh; /* ビューポートの高さを100%に設定 */
}

.main {
  flex-grow: 1; /* メインコンテンツが残りのスペースを占める */
  padding: 20px 40px 20px 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.subTitle {
  @include fontAleo;
  font-size: 34px;
  font-weight: bold;
  color: $gray1;
}

.title {
  @include fontOnest;
  font-size: 75px;
  font-weight: 900;
  color: $gray1;
}

@mixin circle($size, $top, $left) {
  @include gradient4;
  width: $size; // 円の幅
  height: $size; // 円の高さ
  top: $top;
  left: $left;
  position: absolute;
  border-radius: 50%; // 円にするためのボーダー半径
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); // 影の設定
}

.circle1 {
  @include circle(14px, -16px, -40px);
}

.circle2 {
  @include circle(22px, 0px, -30px);
}

.circle3 {
  @include circle(30px, 20px, 340px);
}

.subTitleArea {
  position: relative;
}

// footer {
//   background-color: #333; /* フッターの背景色 */
//   color: white; /* フッターのテキスト色 */
//   padding: 20px; /* フッターのパディング */
//   text-align: center; /* テキストを中央揃え */
// }
