.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preLine {
  white-space: pre-line;
}

.companyProfileTd {
  display: flex;
  align-items: start;
  justify-content: flex-end;
}

.historyTd {
  padding-right: 10px;
}
