@import '@style/common.module';
@import '@style/_color.const';

.servicePage {
  @include fontOnest;
}

.serviceTitle {
  background: linear-gradient(135deg, $water-blue1, $pink1);
  background-clip: text;
  color: transparent;
  font-size: 34px;
  font-weight: bold;
  width: 150px;
  padding: 20px 0;
  margin-left: 12%;
}

.container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.service1 {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.service2 {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

@mixin button {
  @include gradient3;
  // background-color: ; /* ボタンの背景色 */
  border: none; /* ボーダーなし */
  color: white; /* テキストの色 */
  // padding: 15px 32px; /* 内側の余白 */
  text-align: center; /* テキストの中央揃え */
  text-decoration: none; /* テキストの下線なし */
  display: inline-block; /* インラインブロック要素 */
  font-size: 16px; /* フォントサイズ */
  font-weight: bold; /* 太字にする */
  letter-spacing: 3px; /* 文字の間隔を空ける */
  margin: 4px 2px; /* 外側の余白 */
  cursor: pointer; /* カーソルをポインタに */
  border-radius: 32px; /* 角を丸くする */
  transition: background-color 0.3s; /* 背景色の遷移 */
  width: 255px;
  height: 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
